<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
</head>
<body>
<h1>Customers</h1>
<table>
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>Invoice Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${customerInvoiceCount.entrySet()}">
        <td><a th:href="@{/customers/{customerName}(customerName=${entry.key})}" th:text="${entry.key}"></a></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
<br>
<a href="/invoices">Back to Invoices</a>
</body>
</html>
